
h1 {
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}

h2 {
    text-align: center;
    font-size: 40px;
    padding-top:0px;
}

p {
    text-align: left;
    font-size: 20px;
}

div {
    text-align: left;
}

section {
    background-color: rgb(184, 184, 184);
    padding: 25px;
    border-style: dotted;
    border-width: 5px;
    border-radius: 10%;
    padding-left:25px;
    margin-left:25px;
    padding-top:15px;
}

article {
    position: right;
    text-align: left;
}

.right {
    float: right;
    right: 0px;
    width: 50%;
    padding: 10px;
  }


li{
    text-align: center;
    list-style: none;
    font-size: 25px;
}

body{
    size-adjust:initial;
}
